---
# tasks file for webserver
#installing packages
- name: installing packages
  apt:
    name: "{{item}}"
    state: latest
  loop:
    - unzip
    - openjdk-8-jre-headless

- name: installing tomcat-8
  get_url:
      url: https://dlcdn.apache.org/tomcat/tomcat-8/v8.5.81/bin/apache-tomcat-8.5.81.tar.gz
      dest: /mnt/
